@tailwind base;
@tailwind components;
@tailwind utilities;

/* animation */

/*============================
基本設定
============================*/
body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  color: #222;
  background-color: #fdfeff;
}

.dashboard-item01:first-of-type {
  border-radius: 8px 8px 0 0;
}

.dashboard-item01:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
