@tailwind base;
@tailwind components;
@tailwind utilities;

/*============================
基本設定
============================*/
body {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #222;
  background-color: #fdfeff;
}